.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 22.5px;
  padding-right: 22.5px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 968px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1230px;
    padding-left: 45px;
    padding-right: 45px;
  }
}
