.title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  text-align: center;
}
.genres {
  padding: 0 22.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: rgba(165, 154, 172, 1);
  margin: 22.5px auto;
  font-size: 16px;
}
.genres:first-child {
  margin-left: 0;
}

.genres:last-child {
  margin-right: 0;
}

.genres p {
  margin: 0 0.5ch;
}

@media only screen and (min-width: 640px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .genres {
    justify-content: center;
  }
  .genres p {
    margin: 0 2ch;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 22.5px;
  }
  .container > div:nth-of-type(1) {
    order: 2;
  }
  .container > div:nth-of-type(2) {
    order: 1;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding-top: 30px;
  }
  .genres p {
    margin: 0 4ch;
  }
}
