.footer {
  background-color: rgba(36, 18, 58, 1);
  color: white;
  padding-top: 22.5px;
  padding-bottom: 22.5px;
  font-size: 18px;
  line-height: 22px;
}

.footer_name {
  font-weight: 700;
  text-align: center;
}

.footer_links {
  margin-top: 22.5px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .footer_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer_links {
    margin-top: 0;
  }
  .footer_links a:first-of-type {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
