.information {
  padding-top: 30px;
  padding-bottom: 30px;
}

.information_details_container {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.information_details_container p {
  font-size: 16px;
}

.icon_container {
  width: 1.25em;
  margin-right: 4px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .information_details_container {
    justify-content: start;
  }
  .information {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

@media only screen and (min-width: 1440px) {
}
